/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/menu.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.menu_nav__SDUJI{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.menu_navigation__ys73D{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
}
.menu_link__eMQQU{
}
.menu_link__eMQQU.menu_active__FhRXA{
    color: red;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/pages/login/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.page_page__S30_0{
    padding: 10px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page_form__iuDOi{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: clamp(300px, 100%, 500px);
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
}
